<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

**Exercise 1**

In [16]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]     #F= (C*9 /5) + 32

for celsius in temperatures_celsius:
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius} Celsius, {fahrenheit} Fahrenheit")

0 Celsius, 32.0 Fahrenheit
5 Celsius, 41.0 Fahrenheit
10 Celsius, 50.0 Fahrenheit
15 Celsius, 59.0 Fahrenheit
20 Celsius, 68.0 Fahrenheit
25 Celsius, 77.0 Fahrenheit
30 Celsius, 86.0 Fahrenheit
35 Celsius, 95.0 Fahrenheit
40 Celsius, 104.0 Fahrenheit
45 Celsius, 113.0 Fahrenheit
50 Celsius, 122.0 Fahrenheit

**Exercise 2**

In [58]:
for letter in ['1', '2', '3','4','5']:
    for number in [1, 2, 3, 4, 5]:
        print(f'{count}:{letter*number}')

102:1
102:11
102:111
102:1111
102:11111
102:2
102:22
102:222
102:2222
102:22222
102:3
102:33
102:333
102:3333
102:33333
102:4
102:44
102:444
102:4444
102:44444
102:5
102:55
102:555
102:5555
102:55555

In [50]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
for count, name in enumerate(real_names):
    print(f'{count}: {name} is a Marvel superhero!')

for count, name in enumerate(real_names, 100):
    print(f'{count}: {name} is a Marvel superhero!')

for i in range(len(real_names)):
    real_name = real_names[i]
    super_name = super_names[i]        
    print(f"{real_name} is Marvel's {super_name}!")

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!
100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!
Natasha Romanoff is Marvel's Black Widow!
Tony Stark is Marvel's Iron Man!
Stephen Strange is Marvel's Doctor Strange!

In [43]:
for i in range(1, 6):
    for count, number in enumerate(range(1,6),1):
        print(f'{i}: {count*number}', end='\t')

        print('\n') #to create spacing between bumbers

1: 1

1: 4

1: 9

1: 16

1: 25

2: 1

2: 4

2: 9

2: 16

2: 25

3: 1

3: 4

3: 9

3: 16

3: 25

4: 1

4: 4

4: 9

4: 16

4: 25

5: 1

5: 4

5: 9

5: 16

5: 25

In [61]:
for row_num in range(1, 6):
    print(f"{row_num}:", end="")
    for col_num in range(1, 6):
        print(f"{row_num * col_num:5}", end="")  # Use :3 to format with a width of 3
    print()

1:    1    2    3    4    5
2:    2    4    6    8   10
3:    3    6    9   12   15
4:    4    8   12   16   20
5:    5   10   15   20   25

**Exercise 3**

In [15]:
import numpy as np
np.random.rand(10)

array([0.45180501, 0.04483853, 0.46930923, 0.40867055, 0.81674855,
       0.43908017, 0.82517338, 0.98167342, 0.57682666, 0.8003414 ])

In [22]:
import random

def coin_flip_experiment():
    """Simulates flipping a coin 10 times and counts the number of heads."""
    heads_count = 0
    for _ in range(10):  # Flip the coin 10 times
        if random.choice(['H', 'T']) == 'H':  # Randomly choose Heads or Tails
            heads_count += 1
    return heads_count

# Run the experiment 10 times
for experiment_num in range(1, 11):
    heads = coin_flip_experiment()
    print(f"Experiment {experiment_num}: No. of Heads = {heads}")

Experiment 1: No. of Heads = 6
Experiment 2: No. of Heads = 5
Experiment 3: No. of Heads = 5
Experiment 4: No. of Heads = 4
Experiment 5: No. of Heads = 4
Experiment 6: No. of Heads = 5
Experiment 7: No. of Heads = 5
Experiment 8: No. of Heads = 7
Experiment 9: No. of Heads = 7
Experiment 10: No. of Heads = 4

In [59]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
Number = 
for i in range(5):
    print(f'